main.catalog
  section.catalog__food
    h1.catalog__title Каталог продукции
    ul.catalog__food-list
      each asd in asd
      li.catalog__food-item
        section.catalog__food--1
          h2.catalog__title Cat Energy 1
          table.catalog__table.catalog__table--1
            tr
              th
              th
              th
            tr
              td
              td
              td
          a.button.button__order(href="")

    a.catalog__food-button.button--more
    h3.catalog__title Показать еще 100500 товаров
    p.catalog__text На самом деле вкусов гораздо больше!
    button.button.catalog__food-button Показать все

  section.additional__goods
    h2.additional__goods-title Дополнительные товары
    h3.additional__goods-name
    table.additional__goods-table
      tr
        th.additional__goods-title
          td.additional__goods-price
            a.button.button__order(href="")
    h3.additional__goods-name
    table.additional__goods-table
      tr
        th.additional__goods-title
          td.additional__goods-price
            a.button.button__order(href="")
    h3.additional__goods-name
    table.additional__goods-table
      tr
        th.additional__goods-title
          td.additional__goods-price
            a.button.button__order(href="")
    h3.additional__goods-name
    table.additional__goods-table
      tr
        th.additional__goods-title
          td.additional__goods-price
            a.button.button__order(href="")
  section.additional__goods-gift
