footer.footer
  section.footer__logo
    a.footer__logo-link(href="")
  section.footer__social
    ul.footer__social-list
      li.footer__social-item
        a.footer__social-link.footer__social-link--vk(href="")
      li.footer__social-item
        a.footer__social-link.footer__social-link--instagram(href="")
      li.footer__social-item
        a.footer__social-link.footer__social-link--facebook(href="")
  section.footer__copy
    p.footer__copy-text HTML Academy
    a.footer__copy-link(href="")
