main
  section.nutrition
    h1.nutrition__title Функциональное питание для котов
    span.nutrition__slogan Занялся собой? Займись котом!
    a.button.nutrition__link Подобрать программу

  section.losing-weight
    h2.losing-weight__title Похудение
    p.losing-weight__text Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
    a.losing-weight__link Каталог Slim

  section.gain-weight
    h2.gain-weight__title Набор массы
    p.gain-weight__text Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
    a.gain-weight__link Каталог pro

  section.description
    h2.description__title Как это работает
    p.description__text Функциональное питание содержит только полезные питательные вещества.
    p.description__text Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
    p.description__text Замените один-два приема обычной еды на наше функциональное питание.
    p.description__text Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!

  section.example
    h2.example__title Живой пример
    p.example__text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
    .example__wrapper
    dl
      dt.example__heading снижение веса
        dd.example__description 5 кг
    dl
      dt.example__heading затрачено времени
        dd.example__description 60 дней
    h3.example__subtitle Затраты на питание: 15 000 руб.
    img.example__image
    .example__wrapper
      span.example__text Было
      .example__range
      span.example__text Стало

  section.address
    .address__wrapper
      h3.address__title приглашаем к сотрудничеству дилеров!
      p.address__text ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
      section.address__map
