//Fonts
$fontBaseSize: 16px;
$fontBaseSizeMobile: 14px;

$fontBase: Arial, sans-serif;

//Color
$fontColorBase: rgba(68, 68, 68, 1);
$fontColorBlack: rgba(17, 17, 17, 1);

$bgColorGrey: #f2f2f2;

$colorAccent: rgba(104,183,56,1);

//Opacity
$opacityHover: 0.8;
$opacityActive: 0.6;
