//Fonts
$fzBase: 16px;
$fzMobile: 14px;

$fontBase: Arial, sans-serif;

//Color
$fontColorBase: rgb(68, 68, 68);
$fontColorBlack: rgb(17, 17, 17);

$bgColorGrey: rgb(242,242,242);

$colorAccent: rgb(104,183,56);

//Opacity
$opacityHover: 0.8;
$opacityActive: 0.6;
